---
import { person } from "../consts";
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;

const isActive = (href: string) => {
  const { pathname } = Astro.url;
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === "/" + subpath?.[0];
};

const navigationItems = [
  {
    name: "Home",
    url: "/",
    active: isActive("/"),
  },
  {
    name: "Work",
    url: "/work",
    active: isActive("/work"),
  },
  {
    name: "About",
    url: "/about",
    active: isActive("/about"),
  },
];
---

<header class:list={["fixed w-full z-50", className]} {...rest}>
  <nav class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          {
            navigationItems.map((item) => (
              <li>
                <a href={item.url} data-astro-prefetch>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl"
        >{person.name.split(" ")[0].toLocaleLowerCase()}</a
      >
    </div>
    <div class="navbar-center hidden lg:flex">
      <div class="flex gap-2 border px-3 py-2 rounded-full bg-white">
        {
          navigationItems.map((item) => (
            <a
              href={item.url}
              class={`badge border-none hover:scale-110 duration-200 ${item.active ? "badge-primary" : ""}`}
              data-astro-prefetch
            >
              {item.name}
            </a>
          ))
        }
      </div>
    </div>
    <div class="navbar-end">
      <a href={person.resumeUrl} class="btn">
        <Icon name="tabler:file-description" />
        Open Resume</a
      >
    </div>
  </nav>
</header>
